Task2_Workflow_JainendraVishwakarma.json
{
  "name": "Task2_Workflow_JainendraVishwakarma",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e5c8bcfc-7e31-4934-a193-4263aca40338",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=5&page=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7d2a3ccc-0dad-4f29-b474-24543363ffd2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0,5);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "d19577ec-a8a8-4a18-a085-2cbfbcd496dd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f6057c49-7d2f-44f4-a256-77007cb9b930",
              "leftValue": "={{$json[\"price_change_percentage_24h\"]}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "259e15dc-66dd-41e7-a716-e62f0b926b8b",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1506731937438629950/dVqcp0BSeA9HIE4Ej6J23sSRphOZnwd3jFcZMl3x7iOgai5y30Fhg45DocYmFVkehEVb",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"🚀 Crypto Alert: Price increased more than 5%\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -96
      ],
      "id": "0982cd93-6d53-4c2f-9190-5ee5f28d2dd4",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7fa1a97c-6e04-4775-bbf9-71f05d3b1afd",
  "meta": {
    "instanceId": "4ac0330349dc7a16a3894388486f76b54561d75f335700a9d8dd43743866a700"
  },
  "id": "L4BTv7GqNlHzDQa9",
  "tags": []
}